{% extends "base.html" %}

{% block title %}Accedi - Web Database{% endblock %}

{% block content %}

{% if 'notok' in request.GET.auth %}
    <div class="alert alert-danger" role="alert">
        Devi eseguire il login per utilizzare tale funzionalità.
    </div>
{% endif %}

<div class="container my-5">
    <h2 class="text-center mb-4">Accedi al tuo account</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="bg-light p-4 rounded shadow-sm">
                {% csrf_token %}

                <!-- Bootstrap form styling -->
                <div class="mb-3">
                    <table>
                    {{ form.as_table }}
                    </table>
                </div>

                <!-- Submit button -->
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Accedi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
