{% extends "base.html" %}

{% block title %}Elimina Corso{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Conferma Eliminazione</h2>
    
    <div class="card p-4 shadow-sm">
        <h5>Sei sicuro di voler eliminare il corso "{{ object.course }}"?</h5>
        <p>Questa azione è irreversibile.</p>

        <div class="d-flex justify-content-end">
            <form action="{% url 'training_plan_delete' object.id %}" method="post" class="me-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Elimina</button>
            </form>
            <a href="{% url 'training_plan_detail' object.id %}" class="btn btn-secondary">Annulla</a>
        </div>
    </div>
</div>
{% endblock %}
