{% extends "base.html" %}

{% block title %}Lista Corsi{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center">Corsi Disponibili</h2>
        <!-- Pulsanti allineati a destra -->
        <div class="d-flex justify-content-end w-50">
            <a href="{% url 'training_plan_create' %}" class="btn btn-primary ms-2">Aggiungi corso</a>
            <a href="" class="btn btn-success ms-2">Cerca</a>
        </div>
    </div>

    <div class="row">
        {% for training in object_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <!-- Card cliccabile -->
                <a href="{% url 'training_plan_detail' training.id %}" class="card h-100 shadow-sm text-decoration-none">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" style="color: rgb(0, 71, 171);"> {{ training.course_n }} - {{ training.course|truncatewords:10 }}</h5>

                        <p class="card-text">
                            Anno File: <span class="badge rounded-pill bg-info">{{ training.file_year }}</span><br>
                            Data Pianificata: <span class="badge rounded-pill bg-warning">{{ training.planned_date|date:"d/m/Y" }}</span><br>
                            Data Effettiva: <span class="badge rounded-pill bg-success">{{ training.effective_date|date:"d/m/Y" }}</span><br>
                        </p>
                        <div class="mt-auto">
                            <button class="btn btn-outline-dark w-100">Visualizza Dettagli</button>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="col-12 text-center">
                <p class="text-muted">Non ci sono corsi disponibili al momento.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
