{% extends 'base.html' %}

{% block title %} Il tuo Profilo {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Il tuo Profilo</h1>
        <a href="{% url 'home' %}" class="btn btn-secondary">Torna alla Home</a>
    </div>

    <div class="card">
        <div class="card-body">
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Nome:</strong> {{ user.first_name }}</p>
            <p><strong>Cognome:</strong> {{ user.last_name }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if user.user_type == 'employee' %}
            <p><strong>Tipo Utente:</strong> Dipendente</p>
            {% else %}
            <p><strong>Tipo Utente:</strong> Quality Manager</p>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <div>
            <a href="{% url 'user_update' user.id %}" class="btn btn-primary me-2">Modifica Profilo</a>
            <a href="{% url 'password_change' user.id %}" class="btn btn-warning me-2">Modifica Password</a>
        </div>
        {% if user.is_superuser %}
        <a href="{% url 'manage_users' user.id %}" class="btn btn-primary">Modifica i permessi degli utenti</a>
        {% endif %}
    </div>
</div>
{% endblock %}
